<table class="table table-sm table-bordered m-1 w-100">
    <thead class="thead-dark">
        <tr>
            <th scope="col text-center">Trader №</th>
            <th scope="col text-center">Email</th>
            <th scope="col text-center">Address</th>
            <th scope="col text-center">Profit Verification</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="traders.length > 0; then tradersTmpl; else emptyTradersTmpl"></ng-container>
    </tbody>
</table>

<ng-template #emptyTradersTmpl>
    <tr>
        <th class="align-middle text-center" colspan="4">There are no traders yet</th>
    </tr>
</ng-template>

<ng-template #tradersTmpl>
    <tr *ngFor="let trader of traders">
        <th class="align-middle text-center" scope="row">{{trader.id}}</th>
        <td class="align-middle text-center">{{trader.email}}</td>
        <td class="align-middle text-center">{{trader.address}}</td>
        <td>
            <table class="table table-sm m-0">
                <tbody>
                    <ng-container 
                        [ngTemplateOutlet]="trader.proof.length > 0 ? proofTmpl : emptyProofTmpl" 
                        [ngTemplateOutletContext]="{trader: trader}">
                    </ng-container>
                </tbody>
            </table>
        </td>
    </tr>
</ng-template>

<ng-template #emptyProofTmpl>
    <tr class="align-middle text-center" colspan="3">
        No proof periods yet
    </tr>
</ng-template>

<ng-template #proofTmpl let-trader="trader">
    <tr *ngFor="let proof of trader.proof">
        <td class="align-middle text-center" [ngClass]="{'table-success': proof.percentage > 0, 'table-danger': proof.percentage < 0}">Profit: {{proof.percentage | number : '1.2-2'}}%</td>
        <td class="align-middle text-center">
            <ng-container *ngIf="proof.state === 'success'">
                <span class="btn text-success">{{verificationStatesText[proof.state]}}</span>
            </ng-container>
            <ng-container *ngIf="proof.state === 'failed'">
                <span class="btn text-danger">{{verificationStatesText[proof.state]}}</span>
            </ng-container>
            <span *ngIf="proof.state === 'unverified'" class="btn btn-link" (click)="verifyProof(trader.id, proof.id)">Verify</span>
        </td>
    </tr>
</ng-template>