<div class="row m-3">
    <div class="col-xl text-center">
        <app-add-signal (signalAdded)="onSignalAdded($event)"></app-add-signal>
    </div>
    <div class="col-xl text-center">
        <div class="row">
            <div class="col">
                №
            </div>
            <div class="col">
                Action
            </div>
            <div class="col">
                Amount
            </div>
            <div class="col">
                Nonce
            </div>
            <div class="col">
                Currency
            </div>
            <div class="col">
                Price
            </div>
        </div>
        <div *ngFor="let signal of signals; let i = index" class="row">
            <div class="col">
                {{i+1}}
            </div>
            <div class="col">
                {{actionsText[signal.action]}}
            </div>
            <div class="col">
                {{signal.amount}}
            </div>
            <div class="col">
                {{signal.nonce}}
            </div>
            <div class="col">
                {{currenciesText[signal.currency]}}
            </div>
            <div class="col">
                {{signal.price / 100000000 | number : '1.1-8'}}$
            </div>
        </div>
    </div>
</div>