<form (ngSubmit)="generateProof()">
    <div class="row">
        <div class="col-md">
            <div class="row">
                <h4 class="m-auto">Start period balances:</h4>
            </div>
            <div class="row my-3">
                <div class="col-md input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text col-form-label" for="usd">USD</label>
                    </div>
                    <input required type="number" class="form-control" id="usd" name="usd" [(ngModel)]="model.usdBalance">
                </div>
                <div class="col-md input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text col-form-label" for="eth">ETH</label>
                    </div>
                    <input required type="number" class="form-control" id="eth" name="eth" [(ngModel)]="model.ethBalance">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="row my-3">
                <h4 class="m-auto">Private trades data:</h4>
            </div>
            <div *ngFor="let data of model.proofs" class="form-group row align-items-center my-3">
                <div class="col-md-3">
                    <div class="btn-group" role="group">
                        <button *ngFor="let currency of currencies"
                                type="button"
                                class="btn btn-secondary"
                                [ngClass]="{'active': data.currency === currency}"
                                (click)="selectCurrency(data.id, currency)"
                            >
                                {{currenciesText[currency]}}
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row input-group m-0">
                        <div class="input-group-prepend">
                            <label class="input-group-text col-form-label input-fieldjustify-content-center " for="sum">Amount</label>
                        </div>
                        <input required type="number" class="form-control" id="sum" name="sum" min="0" [(ngModel)]="data.amount">
                    </div>
                    <div class="row input-group m-0">
                        <div class="input-group-prepend">
                            <label class="input-group-text col-form-label input-field justify-content-center" for="nonce">Nonce</label>
                        </div>
                        <input required type="number" class="form-control" id="nonce" name="nonce" [(ngModel)]="data.nonce">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-group" role="group">
                        <button *ngFor="let action of actions" type="button" class="btn btn-info" (click)="selectAction(data.id, action)" [class.active]="data.action === action">
                            {{actionsText[action]}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-success">
                <span class="p-3">Generate Proof</span>
            </button>
        </div>
    </div>
</form>