<div class="row w-100 m-0">
    <div class="col border text-center">
        <h3 class="m-4">Step 0. Add Account Data</h3>
        <app-add-account></app-add-account>
    </div>
    <div class="col border text-center">
        <h3 class="m-4">Step 1. Add Signal</h3>
        <app-add-signal></app-add-signal>
    </div>
</div>
<div class="row w-100 m-0">
    <div class="col border text-center">
        <h3 class="m-4">Step 2. Create Period Profit Proof</h3>
        <app-generate-proof></app-generate-proof>
    </div>
</div>