<form (ngSubmit)="sendSignal()">
    <div class="form-group row">
        <div class="col-md-4">
            <div class="btn-group" role="group">
                <button *ngFor="let currency of currencies"
                        type="button"
                        class="btn btn-secondary"
                        [ngClass]="{'active': signal.currency === currency}"
                        (click)="selectCurrency(currency)"
                    >
                        {{currenciesText[currency]}}
                </button>
            </div>
        </div>
        <div class="col-md-4 input-group">
            <div class="input-group-prepend">
                <label class="input-group-text col-form-label" for="sum">Sum</label>
            </div>
            <input required type="number" class="form-control" id="sum" name="sum" min="0" [(ngModel)]="signal.amount">
        </div>
        <div class="col-md-4 input-group">
            <div class="input-group-prepend">
                <label class="input-group-text col-form-label" for="nonce">Nonce</label>
            </div>
            <input required type="number" class="form-control" id="nonce" name="nonce" [(ngModel)]="signal.nonce">
        </div>
    </div>
    <div class="form-group row">
        <div *ngFor="let action of actions" class="col">
            <button type="submit" class="btn" [ngClass]="{'btn-success': action === 0, 'btn-danger': action === 1}" (click)="setAction(action)">
                <span class="p-3">{{actionsText[action]}}</span>
            </button>
        </div>
    </div>
</form>