<div class="row h-100 w-100 m-0">
    <ng-container *ngIf="email === undefined; then loadingTmpl; else loadedTmpl"></ng-container>
</div>

<ng-template #loadingTmpl>
</ng-template>

<ng-template #loadedTmpl>
    <ng-container *ngIf="email; then accountTmpl; else newAccountTmpl"></ng-container>
</ng-template>

<ng-template #newAccountTmpl>
    <div class="col">
        <app-add-account (traderAdded)="onTraderAdded($event)"></app-add-account>
    </div>
</ng-template>

<ng-template #accountTmpl>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</ng-template>