<div class="row align-items-center h-100 w-100 m-0">
    <ng-container *ngIf="email === undefined; then loadingTmpl; else loadedTmpl"></ng-container>
</div>

<ng-template #loadingTmpl>
</ng-template>

<ng-template #loadedTmpl>
    <ng-container *ngIf="email; then accountTmpl; else newAccountTmpl"></ng-container>
</ng-template>

<ng-template #newAccountTmpl>
    <div class="col">
        <app-add-account (traderAdded)="onTraderAdded($event)"></app-add-account>
    </div>
    <!-- <div class="col border text-center">
        
    </div> -->
</ng-template>

<ng-template #accountTmpl>
    <div class="col border text-center">
        <h3 class="m-4">Add Signal</h3>
        <app-add-signal></app-add-signal>
    </div>
    <div class="col border text-center">
        <h3 class="m-4">Create Period Profit Proof</h3>
        <app-generate-proof></app-generate-proof>
    </div>
</ng-template>