<div class="card text-center bg-light m-3">
    <div class="card-header bg-dark">
        <span class="text-light name"> {{trader.email}} </span>
    </div>
    <div class="card-body">
        <ng-container *ngIf="trader.proof.length > 0; then proofTmpl; else emptyProofTmpl"></ng-container>
    </div>
    <div class="card-footer text-muted">
        {{trader.date | date:'d MMMM y'}}
    </div>
</div>

<ng-template #emptyProofTmpl>
    <div class="row my-3">
        <div class="col my-auto">
            <span class="state">
                There are no
            </span>
        </div>
    </div>
    <div class="row my-3">
        <div class="col my-auto">
            <span class="state">
                proof periods
            </span>
        </div>
    </div>
    <div class="row my-3">
        <div class="col my-auto">
            <span class="state">
                yet
            </span>
        </div>
    </div>
</ng-template>

<ng-template #proofTmpl>
    <div class="row my-3">
        <div class="col-8 my-auto">
            <span>
                Profit per month:
            </span>
        </div>
        <div class="col-4 my-auto">
            <span [ngClass]="{'text-success': trader.avgProfitPerMonth > 0, 'text-danger': trader.avgProfitPerMonth < 0}">
                {{trader.avgProfitPerMonth | number : '1.2-2'}}%
            </span>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-8 my-auto">
            Proof per month:
        </div>
        <div class="col-4 my-auto">
            {{trader.avgProofCountPerMonth}}
        </div>
    </div>
    <div class="row my-3">
        <div class="col my-auto">
            <ng-container *ngIf="trader.state === 'success'">
                <span class="text-success state">{{verificationStatesText[trader.state]}}</span>
            </ng-container>
            <ng-container *ngIf="trader.state === 'failed'">
                <span class="text-danger state">{{verificationStatesText[trader.state]}}</span>
            </ng-container>
            <ng-container *ngIf="trader.state === 'processing'">
                <span class="text-info state">{{verificationStatesText[trader.state]}}</span>
            </ng-container>
            <span *ngIf="trader.state === 'unverified'" class="btn-link verify" (click)="verifyTrader()">Verify Trader</span>
        </div>
    </div>
</ng-template>