<div class="card text-center bg-light m-3">
    <div class="card-header bg-dark">
        <span class="text-light name"> {{trader.email}} </span>
    </div>
    <div class="card-body">
        <ng-container *ngIf="trader.proof.length > 0; then proofTmpl; else emptyProofTmpl"></ng-container>
    </div>
    <div class="card-footer text-muted">
        Proof's count: {{trader.proof.length}}
    </div>
</div>

<ng-template #emptyProofTmpl>
    <div class="row justify-content-center">
        <div class="col btn" style="cursor: unset">
            No proof periods yet
        </div>
    </div>
</ng-template>

<ng-template #proofTmpl>
    <ng-container *ngFor="let proof of trader.proof">
        <div class="row">
            <div class="col-2 my-auto">
                {{proof.id}}
            </div>
            <div class="col-5 my-auto">
                <span [ngClass]="{'text-success': proof.percentage > 0, 'text-danger': proof.percentage < 0}">
                    {{proof.percentage | number : '1.2-2'}}%
                </span>
            </div>
            <div class="col-5 my-auto">
                <ng-container *ngIf="proof.state === 'success'">
                    <span class="btn text-success">{{verificationStatesText[proof.state]}}</span>
                </ng-container>
                <ng-container *ngIf="proof.state === 'failed'">
                    <span class="btn text-danger">{{verificationStatesText[proof.state]}}</span>
                </ng-container>
                <span *ngIf="proof.state === 'unverified'" class="btn btn-link" (click)="verifyProof(proof.id)">Verify</span>
            </div>
        </div>
    </ng-container>
</ng-template>