<nav class="navbar navbar-expand-md navbar-dark bg-dark m-0">
    <div class="row w-100 p-0 m-0">
        <div class="col align-self-center m-0 p-0">
            <a class="navbar-brand" [routerLink]="['/']">Proof of Trade</a>
        </div>

        <div class="col m-0 p-0">
            <button class="btn btn-info float-right m-2"
                (click)="connectToProvider()"
                [disabled]="connectionModel.isDisconnectable()">
                {{connectionModel.isConnectable() ? 'Connect' : 'Connected' }}
            </button>
        </div>
    </div>
</nav>