.brand {
    cursor: pointer;
}

.icon {
    min-width: 78px;
    min-height: 48px;
}

.btn:focus, .btn:active, .btn:target {
    outline: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
 }