<div class="row my-1">
    <div class="col">
        <h3>Enter amount:</h3>
    </div>
</div>
<div class="row align-items-center my-1">
    <div class="col">
        <form (ngSubmit)="enterAmount()">
            <div class="input-group input-group-lg">
                <input required type="number" class="form-control text-center" id="sum" name="sum" min="1" [(ngModel)]="signal.amount">
                <div class="input-group-append">
                  <button class="btn btn-dark" type="submit" [disabled]="signal.amount === 0">Next...</button>
                </div>
              </div>
        </form>
    </div>
</div>